


<div class="left">
	<div class="scroll">
	<ul class="image">
		<li>
	        <a title="horse (2009)"  linea2="pipecleaner" linea3="nin "  href="/images/sculpture/cow1.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/sculpture/cow1_tb.jpg"/></a>
	    </li>
		<li>
	        <a title=" (2009)"  linea2="clay" linea3="nin "  href="/images/sculpture/inert1.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/sculpture/inert1_tb.jpg"/></a>
	    </li>
		<li>
	        <a title=" (2009)"  linea2="clay" linea3="nin "  href="/images/sculpture/inert2.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/sculpture/inert2_tb.jpg"/></a>
	    </li>
		<li>
	        <a title="Dear Padre, I have found my paternal instincts in Los Laureles Canyon, Amen (2009)"  linea2="cardboard + cans + hot glue" linea3="nin "  href="/images/sculpture/loslaureles1.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/sculpture/loslaureles1_tb.jpg"/></a>
	    </li>
	    <li>
	        <a title="Dear Padre, I have found my paternal instincts in Los Laureles Canyon, Amen (2009)" linea2="cardboard + cans + hot glue" linea3="nin "  href="/images/sculpture/loslaureles2.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/sculpture/loslaureles2_tb.jpg"/></a>
	    </li>
	    <li>
	        <a title="Dear Padre, I have found my paternal instincts in Los Laureles Canyon, Amen (2009)" linea2="cardboard + cans + hot glue" linea3="nin "  href="/images/sculpture/loslaureles23.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/sculpture/loslaureles23_tb.jpg"/></a>
	    </li>
	</ul>
	</div>
	<div class=" thumb_descript">
		<p id="desc">Dear Padre, I have found my paternal instincts in Los Laureles Canyon, Amen (2008)</p>
		<p id="desca">cardboard + cans + hot glue</p>
		<p id="descb">nin</p>
	</div>
</div>
	

<div class="right">
	<img src="/images/sculpture/loslaureles1.jpg" id="placeholder" name="placeholder"/>
	
</div>
