
	
/*------------------------------------------------------------------------------------
    Global Styles
  ------------------------------------------------------------------------------------*/
  * {
      padding:0;
      margin:0;
  }
  h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
  li, dd { margin-left:5%; }
  fieldset { padding: .5em; }
  select option{ padding:0 5px; }

  .hide, .print-logo, .close-button{ display:none; }
  .left{ float:left; }
  .right{ float:right; }
  .clear{ clear:both; height:1px; font-size:1px; line-height:1px; }
  a img{ border:none; }

/*-----BELOW THE CSS CODE BEGINS------ABOVE IS THE BROWSER RESET----*/



* {
	font-family: "helvetica neue", helvetica, sans-serif;
	font-size: small;
	color: #808080;
}
body {
	background-color: #f1f3f6;
	text-align: center;
	margin-top: 0;
}
h1 {
	font-size: x-large;
}
h2 {
	font-size: large;
}
html {
	height:101%;
}
img {
	border: none;
}
p {
	line-height: 1.5em;
}
a {
	color: #06629B;
}
a:visited {
	color: #660099;
}
#rox_icon {
	color: transparent;
}
#rox_icon img {
 	width:150px;
	float:left;
}

#container {
	position:relative;
	margin:0 auto;
	width: 1020px;
}
#content {
	margin: 0 auto;
	padding:10px;
	width:1020px;
}
.nav_bar {
	position:relative;
	margin-right:-35px;
	margin-top: -10px;
	width: 525px;
    float:right;
}
.nav_bar img {
	height:30px;
}
	 ul {
	display: inline;
	list-style-type: none;
}

#current_page{
	display: inline;
	position: relative;
	border-top: 15px solid #bdccd4;
	padding-top: 15px;
}
.nav_bar ul li:hover, .nav_bar ul li.over, a:focus {
	border-top: 15px solid #bdccd4;
	padding-top: 15px;
}
.nav_bar > ul  > li {
	display: inline;
}
#top_bar {
	
	height:77px;
	width:100%;
} */
/*----------LEFT CONTENT FRAME----------------------*/
.left {

	float:left;
	width:350px;

  
}
.scroll {
	background-color:white;
	height:350px;
	margin-bottom:20px;
	overflow: auto;
	padding-top:10px;
	width: 350px;
	-moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-bottomright: 4px;
  	-moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	-webkit-border-top-right-radius:4px;
  	-webkit-border-top-left-radius:4px;
  	-webkit-border-bottom-right-radius:4px;
  	-webkit-border-bottom-left-radius:4px;
}

.image img {
	width:100px;
	height: 100px;
	margin-bottom: 7px;
}
ul.image li:hover, ul.image li.over {
	/*border: 5px solid red;*/
}
.image {
	background-color: white;
	margin-bottom: 10px;
	max-height: 600px;
	overflow: scroll;
	width: 350px;
	-moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-bottomright: 4px;
  	-moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	-webkit-border-top-right-radius:4px;
  	-webkit-border-top-left-radius:4px;
  	-webkit-border-bottom-right-radius:4px;
  	-webkit-border-bottom-left-radius:4px;
}
.image  li {
	display: inline;
	margin: 4px;
} 

.thumb_descript {
	background-color: white;
	padding: 10px;
	width: 330px;
	-moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-bottomright: 4px;
  	-moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	-webkit-border-top-right-radius:4px;
  	-webkit-border-top-left-radius:4px;
  	-webkit-border-bottom-right-radius:4px;
  	-webkit-border-bottom-left-radius:4px;
	
}
/*--------RIGHT NAV--------------------------------*/

.right {
	background-color: white !important;
	float:right;
	padding: 10px;
	width: 640px;
	-moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-bottomright: 4px;
  	-moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	-webkit-border-top-right-radius:4px;
  	-webkit-border-top-left-radius:4px;
  	-webkit-border-bottom-right-radius:4px;
  	-webkit-border-bottom-left-radius:4px;
}
.right img {
	max-height: 620px;
	max-width: 620px;
}

/*---------footer-----------*/
#footer {
	background-color: #e9ecf2;
	width: 100%;
	bottom: 0px;
	height: 20px;
	margin-top:20px;
	position:fixed;
}

#footer_info {
	background-color: ;
}

