


<div class="left">
	<div class="scroll">

		<ul class="image">
	        <li>
				<a title="horse (2009)" linea2="found fabric + found cardboard" linea3="nin "  href="/images/cow.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/cow_tb.jpg"/></a>
       		</li>	
			<li>
					<a title="corral-ed (2008)" linea2="graphite + whiteout" linea3="8 x 12 in "  href="/images/whiteout1.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/whiteout1_tbs.jpg"/></a>
				</li>
				<li>
					<a title="corral-ed (2008)" linea2="graphite + whiteout" linea3="8 x 12 in "  href="/images/whiteout2.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/whiteout2_tbs.jpg"/></a>
				</li>	
	        	<li>
					<a title="corral-ed (2008)" linea2="illustrator" linea3="nin "  href="/images/wooden_horse.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/wooden_horse_tb.jpg"/></a>
	       		</li>
				<li>
					<a title="drunkard (2006)" linea2="graphite + photoshop" linea3="8 x 12 in "  href="/images/drunkard.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/drunkard_tb.jpg"/></a>
	       		</li>
		</ul>		
	</div>
	
	<div class=" thumb_descript">
		<p id="desc">corral-ed</p>
		<p id="desca">graphite + whiteout</p>
		<p id="descb">8 X 12 inches</p>
	</div>
</div>
	

<div class="right">
	<img src="/images/whiteout-1.jpg" id="placeholder" name="placeholder"/>
	
</div>
