<div id="left_left_nav">
	<div id="thumb_menu">
		<ul>
			<li><%= link_to_remote "large_image" , :url => {:action => "encounter_detail"}, :update => 'main_img'%></li>
			<li><image_tag("whiteout2_tbs")  # =><img src="/images/whiteout2_tbs.jpg" alt="whiteout2" /></li>
		</ul>
	</div>
	<div id="descriptive_text">
		<p>"Corral-ded" <br />
			2008 <br />
			paper, pencil, whiteout</p>
	</div>
</div>

<div id="main_img>">
	<img src="/images/whiteout1.jpg">
</div>
	
