<!--LEFT CONTENT FRAME-->

<div id="left_nav">
	<div id="main_img">
	</div>
</div>

<!--RIGHT NAVIGATION BAR-->

<div id="right_nav">
<ul>
	<li>
		
	

			<%= link_to_remote "2008", :url => {:action => "yr2008"}, :update => 'paint_2008' %>
				<div id="paint_2008"></div>
			
	</li>
	<li>2007
		<ul>
			<li>Encountering Carrying Capacity</li>
			<li>El Viajero</li>
			<li>Tubes</li>
		</ul>	
	</li>
	<li>2006</li>
</ul>
</div>