


<div class="left">
	<div class="scroll">
	<ul class="image">
		<li>
	    	<a title="from food to feces (2009)" linea2="found styrofoam + gauche + contact paper" linea3="nin "  href="/images/paint/cow1.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/cow1_tb.jpg"/></a>
	    </li>
		<li>
	    	<a title="from food to feces (2009)" linea2="found styrofoam + gauche + contact paper" linea3="nin "  href="/images/paint/cow2.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/cow2_tb.jpg"/></a>
	    </li>
		<li>
	        <a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_sit.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_sit_tb.jpg"/></a>
	    </li>
	    <li>
	    	<a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_walk.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_walk_tb.jpg"/></a>
	    </li>
	    <li>
	    	<a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_walk2.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_walk2.jpg"/></a>
	    </li>
		<li>
	    	<a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_walk3.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_walk3_tb.jpg"/></a>
	    </li>
	    <li>
	    	<a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_lilm.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_lilm.jpg"/></a>
	    </li>
	    <li>
	    	<a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_lilm2.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_lilm2.jpg"/></a>
	    </li>
		<li>
	    	<a title="Shirley Strum and the Pumphouse Gang (2008)" linea2="found wood + oils + graphite" linea3="nin "  href="/images/paint/shirley_lilm3.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/shirley_lilm3.jpg"/></a>
	    </li>
	    <li>
	    	<a title="el viajero (2006)" linea2="marker + acrylics" linea3="24 in "  href="/images/paint/viajero.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/viajero_tb.jpg"/></a>
	    </li>
	    <li>
	    	<a title="overself (2006)" linea2="marker + acrylics" linea3="24 in "  href="/images/paint/overself.jpg" onclick="return showPic(this)"><img border="0" class="imgthumb" src="/images/paint/overself_tb.jpg"/></a>
	    </li>
	</ul>
	</div>

	<div class=" thumb_descript">
		<p id="desc">el viajero</p>
		<p id="desca">marker + acrylics</p>
		<p id="descb">24 inches</p>
	</div>
</div>
	

<div class="right">
	<img src="/images/paint/viajero.jpg" id="placeholder" name="placeholder"/>
	
</div>
