<h1>Editing image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>
<% form_tag({:action => 'update', :id => @image}, :multipart=>true ) do %>



  <p>
    <%= f.submit "Update" %>
  </p>
<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
<% end %>
<% end %>



