<h1>New image</h1>

<% form_for(@image) do |f| %>
<% form_tag({:action => 'create'}, :multipart => true)  do %>

  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<%= link_to 'Back', images_path %>
<% end %>
<% end%>

