<%= render :partial => 'layouts/html_head', :locals => { :subtitle => "" } %>

<body>
<div id="centering">
	<%= render :partial => "layouts/rox_header" %>


	<div id="container">
		<%= yield %>
	</div>	
	


</div>
<div id="footer">
<%= render :partial => "layouts/tracking" %>
</div>
</body>
</html>	